<ion-header>
  <ion-toolbar>
    <ion-title>developerlogin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class= "center">
  <h1>Sign In</h1>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="floating" >Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >password</ion-label>
      <ion-input type="password" [(ngModel)]="password" ></ion-input>
    </ion-item>

    <ion-item-divider></ion-item-divider>


   
   <ion-button expand="block" shape="round" color="success" (click)="loginaction()"> Sign in</ion-button>


  </ion-list>


</ion-content>