<ion-header>
  <ion-toolbar>
    <ion-title>updateDoctorSlots</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <tr style="margin: 21px 0;color:chocolate;"><h5></h5><h5>start</h5><h5>end</h5><h5>interval</h5></tr>
    <tr style="max-width: fit-content;" *ngFor="let item of doctor.timingIntervals;index as i">
      <ion-label><h1 style="padding-left: 10px;color:chocolate;">{{daysNames[i]}}</h1></ion-label>
      <ion-input type="text" placeholder ="startTime"  [(ngModel)]="doctor.startTimings[i]"></ion-input>
      <ion-input type="text" placeholder ="endTime" [(ngModel)]="doctor.endTimings[i]"></ion-input>
      <ion-input type="number" placeholder ="interval"  min=15 [(ngModel)]="doctor.timingIntervals[i]"></ion-input>mins
    </tr>
  </ion-item>
  <ion-button expand="block" shape="round"  (click)="updateDoctorSlots()">update Doctor {{doctor.name}}'s Slots</ion-button>

</ion-content>
