table th{ color:black}

ion-card
{
    width : 80wv;
    padding: 0;
}
.table1{
    border: 3px solid grey;
    border-collapse: collapse;
    padding: 5px;
    width:100%;
  }

  th , td
  {
    border: 0px solid grey;
    padding: 5px;
    border-collapse: collapse;
  } 

//   .table2
//   {
//     tr,td,th {

//         border: 3px solid grey;
//         // border-collapse: collapse;
//         // padding: 5px;
//         width:100%;
//     }


.table2
{
        border: 3px solid grey;
        border-collapse: collapse;
        padding: 0px;
        width:100%;


span{
        th,td {
            border: 3px solid grey;
            padding: 5px;
            border-collapse: collapse;
        }
      }
}

      
//   }
  table tr:nth-child(odd) {
    background-color: #f1f1f198;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

  ion-item {
    .label{
      margin-right:10px;
    }
  }
.sideRow{
  text-align: start;
  // margin-right: 0px;
}