<ion-header>
  <ion-toolbar>
    <ion-title>view-doctor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <h1 style="text-align:center; font-weight:bold">doctor Details</h1>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-subtitle>{{doctor.createdAt | date: 'shortDate'}}</ion-card-subtitle>
      <ion-card-title>{{doctor.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content style="color: black;">
      <table class="table1">
        <tr>
          <th colspan="2">Doctor- Details</th>
        </tr>

        <tr ng-repeat="" *ngIf="doctor.description">
          <th>doctor description </th>
          <td>{{doctor.description}}</td>
        </tr>
        <tr ng-repeat="" *ngIf="doctor.docId">
          <th>doctor docId </th>
          <td>{{doctor.docId}}</td>
        </tr>
        <tr ng-repeat="" *ngIf="doctor.emailId">
          <th>doctor email </th>
          <td>{{doctor.emailId}}</td>
        </tr>

        <tr ng-repeat="" *ngIf="doctor.specialization">
          <th>doctor specialization </th>
          <td>{{doctor.specialization}}</td>
        </tr>
        <tr ng-repeat="" *ngIf="doctor.phone">
          <th>doctor phone </th>
          <td>{{doctor.phone}}</td>
        </tr>

        <tr ng-repeat="" *ngIf="doctor.consultationFee">
          <th>doctor.consultationFee</th>
          <td>{{doctor.consultationFee}}</td>
        </tr>
        <tr ng-repeat="" >
          <th>doctor startTime </th>
          <td>{{doctor.startTime}}</td>
        </tr>
        <tr ng-repeat="">
          <th>doctor endTime </th>
          <td>{{doctor.endTime}}</td>
        </tr>
        
        <tr>
          <th>doctor interval </th>
          <td>{{doctor.interval}}</td>
        </tr>

      </table>
<br><br>
<h1 style="text-align:center; font-weight:bold">doctor slot timings</h1>
      

      <table class="table2">
        <!-- <p *ngFor="let subSlot of doctor.timeSlots" no-lines>
          <span>slotId: {{ subSlot.slotId }} - slotTime: {{ subSlot.slotTime }}</span>
        </p> -->

        <tr style="width:200wv" >
          <span>
            <th style="width:200wv; border: 0px solid grey ; padding:0 50px">slot-Id</th>
            <th style="width:200wv; border-left:1px solid grey ; border: 0px solid grey ; padding:0 50px">slot-Time</th>
          </span>
        </tr>

        <span *ngFor="let slot of doctor.timeSlots">
            <tr *ngFor="let subSlot of slot.slots">
              <th >doctor slotId </th>
              <td >{{subSlot.slotId }}</td>
              <th >doctor slotTime </th>
              <td >{{subSlot.slotTime }}</td>
            </tr>
            <ion-item-divider color="danger"></ion-item-divider>
          </span>

      </table>



      <h2 align="justify"><b>doctor description : </b> {{doctor.description}}</h2>
      <br>
      <h2 align="justify"><b>doctor docId : </b> {{doctor.docId}}</h2>
      <br>
      <h2 align="justify" readonly disabled><b>doctor email : </b> {{doctor.emailId}}</h2>
      <br>
      <h2 align="justify"><b>doctor department : </b> {{doctor.department}}</h2>
      <br>
      <h2 align="justify"><b>doctor specialization : </b> {{doctor.specialization}}</h2>
      <br>
      <h2 align="justify"><b>doctor phone : </b> {{doctor.phone}}</h2>
      <br>
      <h2 align="justify"><b>doctor consultationFee : </b> {{doctor.consultationFee}}</h2>
      <br>
      <h2 align="justify"><b>doctor timings : </b> {{doctor.timings}}</h2>
      <br>
      <h2 align="justify"><b>doctor Start Time : </b> {{doctor.startTime}}</h2>
      <br>
      <h2 align="justify"><b>doctor EndTime : </b> {{doctor.endTime}}</h2>
      <br>
      <h2 align="justify"><b>doctors Slot Timing Interval:</b> {{doctor.interval}}</h2>
      <br>
      
      <!-- <ion-item>
        <div style="background-color: #3880ff"  class="sideRow">
          <h1>startTime:</h1>
          <h1>endTime:</h1>
          <h1>interval:</h1>
        </div>
        <tr style="background-color: #3880ff ; max-width :fit-content" *ngFor="let day of doctor.timingIntervals;index as i">
          <ion-label style="max-width: fit-content;"  class="label"> 
            <h1>{{doctor.startTimings[0]}}</h1>
            <h1>{{doctor.endTimings[0]}}</h1>
            <h1>{{doctor.timingIntervals[0]}} </h1></ion-label>
        </tr><br>
      </ion-item> -->

      <ion-item>
        <tr style="max-width: fit-content;" *ngFor="let item of doctor.timingIntervals;index as i">
          <ion-label><h1 style="padding-left: 10px;color:chocolate;">{{daysNames[i]}}</h1></ion-label>
          <ion-input type="text" readonly placeholder ="startTime"  [(ngModel)]="doctor.startTimings[i]"></ion-input>
          <ion-input type="text" readonly placeholder ="endTime" [(ngModel)]="doctor.endTimings[i]"></ion-input>
          <ion-input type="number" readonly  min=15 placeholder ="interval"  [(ngModel)]="doctor.timingIntervals[i]"></ion-input>mins
        </tr>
      </ion-item>

      <h2 align="justify"><b>Doctors WEEKLY timeSlots</b></h2>

  

 <!-- ****************************  to view a particular slot ******************************  -->

      <div *ngFor="let slots of doctor.timeSlots; index as i">
        <div *ngIf="i == day">
        <h1>day{{i}} --- </h1>
        <div *ngFor="let slot of slots.slots; index as j">
          <h2>slot{{j}} - slotTime:{{slot.slotTime}}</h2>
        </div>
      </div>

        <!-- <ion-item-divider></ion-item-divider> -->
      </div> 


      <ion-button slot="start" color="warning" [routerLink]="'/update-doctor/' + doctor.id">Edit</ion-button>
      <ion-button slot="start" color="warning" [routerLink]="'/update-doctor-slots/' + doctor.id">Edit slots</ion-button>

    </ion-card-content>
  
  </ion-card>
  <ion-button routerLink="/">home</ion-button>
</ion-content>