<ion-header>
  <ion-toolbar>
    <ion-title>doctregister</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="center">
    <h1>Sign Up</h1>
  </div>

 

    <ion-list >
      <ion-item > 
        <ion-label position="floating">doctor name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item > 
        <ion-label position="floating">doctor username</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input> 
      </ion-item>

      <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input type="password" [(ngModel)]="password" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirm password</ion-label>
        <ion-input type="password"  [(ngModel)]="cpassword"></ion-input>
      </ion-item>


      <ion-item-divider></ion-item-divider>

      <ion-button expand="block" shape="round" color="success" (click)="registeraction()" >sign up</ion-button>

      <br><br><br>
<!-- 
      <ion-item lines="none"  style="font-size :20px ; text-align :center" >
        Already a member<a routerLink="/index/login" > Sign in</a>
      </ion-item> -->


    </ion-list> 


</ion-content>
